body {
    background: #e3f2ff;
    display: flex;
    justify-content: auto;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

h1 {
    text-align: left;
    margin-bottom: 20px;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

select {
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px 10px;
    width: 50%;
}

option {
    text-align: center;
}

button {
    float: right;
    background: #5f9cd2;
    padding: 4px 5px;
    color: black;
    border-radius: 5px;
    width: 13%;
}

button:hover {
    opacity: .7;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin: 20px auto;
}

h2 {
    text-align: left;
    margin-left: 0px;
}

a {
    float: left;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    text-decoration: underline;
    text-decoration-thickness: 5%;
}

a:hover {
    opacity: .7;
}

table {
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th,
td {
    border: 1px solid black;
    background-color: #96D4D4;
    text-align: center;
    padding: 5px;
}

.row {
    display: flex;
    margin-left: -5px;
    margin-right: 10px;
}

.column {
    flex: 30%;
    padding: 5px;
}

.button {
    padding: 5px;
}
